nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a {
  display: block;
  padding: 14px 16px;
  color: var(--sw-yellow);
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: var(--sw-purple);
  cursor: pointer;
}

a.active {
  color: var(--sw-purple);
}
