nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
}

nav p {
  margin: 0;
  padding: 14px 16px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  padding: 14px 16px;
  color: #ebd71c;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: #551a8b;
  cursor: pointer;
}

li a.active {
  color: #551a8b;
}
