nav {
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
}

ul {
  display: flex;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: white;
  cursor: pointer;
}
