#table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em 0;
}

#table-header h1 {
  margin: 0 1em 0 0;
}

table {
  width: 100%;
}

th {
  padding: 1em;
  text-align: left;
}

th[data-sortable="true"] {
  cursor: pointer;
}

td {
  padding: 0 1em;
}

td button {
  float: right;
}

@media only screen and (max-width: 768px) {
  #table-header {
    flex-direction: column;
  }

  #table-header h1 {
    margin: 0;
    width: 100%;
  }

  #table-header app-table-search {
    width: 100%;
  }
}
