<div id="table-header">
  <h1>{{ tableHeading }}</h1>
  <app-table-search
    [searchData]="tableParameters?.searchData"
    (searchRecordsBy)="onSearchRecordsBy($event)"
  ></app-table-search>
</div>
<table *ngIf="!showLoading && tableParameters; else loading">
  <thead>
    <th
      *ngFor="let column of tableParameters.data.columns"
      [attr.data-sortable]="column.enableSort"
      [attr.data-sort-attribute]="column.accessor"
      (click)="onTableHeaderClicked($event)"
    >
      {{ getFullColumnLabel(column) }}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableParameters.data.rows">
      <td *ngFor="let column of tableParameters.data.columns">
        {{ row[column.accessor] }}
      </td>
      <td>
        <button [routerLink]="['/characters', row.id]">Details</button>
      </td>
    </tr>
  </tbody>
</table>
<app-table-pagination
  *ngIf="!showLoading && tableParameters"
  [paginationData]="tableParameters.paginationData"
  (getPage)="onGetPage($event)"
></app-table-pagination>
<ng-template #loading>{{ loadingText }}</ng-template>
