#table-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1em 0;
}

#table-header h1 {
  margin: 0;
}

table {
  width: 100%;
}

th {
  padding: 1em;
  text-align: left;
}

td {
  padding: 0 1em;
}

td button {
  float: right;
}
