<div id="table-header">
  <h1>{{ tableParameters.heading }}</h1>
  <app-table-search
    [searchAttribute]="tableParameters.searchAttribute"
    (searchRecordsBy)="onSearchRecordsBy($event)"
  ></app-table-search>
</div>
<table>
  <thead>
    <th
      *ngFor="let column of tableParameters.data.columns"
      [attr.data-sortable]="column.enableSort"
      [attr.data-sort-attribute]="column.accessor"
      (click)="onTableHeaderClicked($event)"
    >
      {{ getFullColumnLabel(column) }}
    </th>
  </thead>
  <tbody>
    <tr *ngFor="let row of tableParameters.data.rows">
      <td *ngFor="let column of tableParameters.data.columns">
        {{ row[column.accessor] }}
      </td>
      <td><button>Details</button></td>
    </tr>
  </tbody>
</table>
<app-table-pagination
  *ngIf="tableParameters.paginationData !== undefined"
  [paginationData]="tableParameters.paginationData"
  (getPage)="onGetPage($event)"
></app-table-pagination>
