<div id="pagination">
  <div id="pagination-info">
    <p>
      {{ getPaginginationInfoText() }}
    </p>
  </div>
  <div id="pagination-actions">
    <button
      [disabled]="
        paginationData.currentPagingSection === 1 ||
        paginationData.currentPagingSection === 4
      "
      (click)="onFirstPageClicked()"
    >
      ⏮️ First
    </button>
    <button
      [disabled]="
        paginationData.currentPagingSection === 1 ||
        paginationData.currentPagingSection === 4
      "
      (click)="onPreviousPageClicked()"
    >
      ⬅️ Previous
    </button>
    <button
      [disabled]="
        paginationData.currentPagingSection === 3 ||
        paginationData.currentPagingSection === 4
      "
      (click)="onNextPageClicked()"
    >
      Next ➡️
    </button>
    <button
      [disabled]="
        paginationData.currentPagingSection === 3 ||
        paginationData.currentPagingSection === 4
      "
      (click)="onLastPageClicked()"
    >
      Last ⏭️
    </button>
  </div>
</div>
