#pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#pagination-info p {
  margin: 0;
}

#pagination-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}

button {
  margin-left: 1em;
}

@media only screen and (max-width: 650px) {
  #pagination {
    flex-direction: column;
    align-items: flex-start;
  }

  #pagination-actions {
    padding: 0;
    margin-top: 1em;
  }

  #pagination-actions button:first-child {
    margin-left: 0;
  }
}
