#pagination {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

#pagination-info {
  margin: 0;
}

#pagination-actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 1em;
}

button {
  margin-left: 1em;
}
