<div *ngIf="!isLoading; else loading">
  <p>{{ "Name: " + character.name }}</p>
  <p>{{ "Height: " + character.height }}</p>
  <p>{{ "Weight: " + character.weight }}</p>
  <p>{{ "Year of birth: " + character.birthYear }}</p>
  <p>{{ "Gender: " + character.gender }}</p>
  <p>{{ "Homeworld: " + character.homeworld }}</p>
  <p>List of films:</p>
  <ul>
    <li *ngFor="let film of character.films">{{ film }}</li>
  </ul>
</div>
<button
  *ngIf="!isFavourite && !isLoading"
  class="favourite-character"
  (click)="markAsFavourite()"
>
  Mark as favourite
</button>
<p *ngIf="isFavourite && !isLoading" class="favourite-character">
  This is a favourite character!
</p>
<ng-template #loading>Loading character... Please wait</ng-template>
