:root {
  --sw-yellow: #ebd71c;
  --sw-purple: #551a8b;
}

@font-face {
  font-family: StarJedi;
  src: url(assets/fonts/Starjedi.ttf);
}
@font-face {
  font-family: StarJediHollow;
  src: url(assets/fonts/Starjhol.ttf);
}

body {
  font-family: StarJedi, "Droid Sans", arial, verdana, sans-serif;
  color: var(--sw-yellow);
  background: url(assets/images/stars-bg.jpg) center center;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

button:hover {
  color: var(--sw-purple);
}
