<div class="star-wars-intro">
  <p class="intro-text">A long time ago in a galaxy far, far away...</p>

  <h2 class="main-logo">Star Wars Codex</h2>

  <div class="main-content">
    <div class="title-content">
      <p class="content-header">EPISODE I<br />Applying for a job at Infinum</p>

      <br />

      <p class="content-body">
        A couple of days ago, I applied for a job as a front-end developer in
        Infinum. My quest was to collaborate on building beautiful and powerful
        apps with a team of experts. To prove my worth I was tasked with
        developing a Star Wars API wrapper that enables jedis to search trough
        entities of the Star Wars universe. I even tried to implement the OnPush
        Change Detection strategy...
      </p>

      <a href="#" class="space-button">Start exploring the Star Wars Codex!</a>
    </div>
  </div>
</div>
